a {
    text-decoration: none !important;
    color: #fff;
}
a:hover {
    color: #fff;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
